<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo List</title>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>

<body>

    <div class="container">
        <!-- nav bar -->
        <div class="nav">
            <div class="logodiv">
                <img src="{{ url_for('static', filename='images/logo.png') }}">
                <h2>ToDo List&nbsp;</h2>
            </div>

            <!-- right most links in top navbar -->
            <div class="right toplinks">
                <a class="active" href="/home">Home</a>
                <a href="/about">About us</a>
                <a href="/contact">Contact</a>
                 <a href="/signout">Sign out</a>
            </div>

        </div>
         <hr>

        <div class="sidenav">
        <!-- Nav -->
            <a href="/Add">Add</a>
            <a href="/View">View</a>
            <a href="">Edit</a>
            <a href="">Delete</a>
            <a href="/deleteAll">Delete All</a>
                        
        </div>

        <div >


        </div>
    </div>
</body>